@font-face {
    font-family: "MyFont";
    src: url("./BalooBhai-Regular.ttf"), url("./Space Mono for Powerline.ttf");
    font-weight: 600;
    font-style: normal;
}

.hello {
    color: red;
    font-family: "MyFont";
    background-image: url("./icon.png");
}
